/*Navigation Bar View*/
.navigation-bar {
  width: 100%;
  margin-bottom: 30px;
}

.searchField {
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  padding: 0px 7px 0px;
  background-color: #202241;
  color: white;
}

.searchButton {
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  padding: 0px 5px 0px;
  background-color: #202241;
  color: white;
}

.searchBlock {
  margin-right: var(--lumo-space-s);
  float: right;
}

/* Main Layout */
.main-layout {
  background-image: url("https://img.freepik.com/free-photo/beautiful-colorful-sunset_1048-2416.jpg?size=626&ext=jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}