/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

/*Navigation Bar View*/
.searchField {
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  padding: 0px 7px 0px;
}

.searchButton {
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  padding: 0px 5px 0px;
}

.searchBlock {
  margin-right: var(--lumo-space-s);
  float: right;
}

/*Current Day View*/
.current-info {
  background-color: gray;
}
