/* More Detail Tab & Layout */
.more-detail-layout {
    margin-top: 0px;
    padding: 0px 50px 0px 50px;
}


.hourly-tab, .daily-tab, .details-tab {
    --lumo-primary-color: white;
    font-size: large;
    margin: 0px 20px;
    background-color: rgb(000, 000, 000, 0.0);
    color: white;
}

.tab-list {
    margin-top: 0px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.466);
}

.list-of-views {
    margin-top: 0px;
    width: 100%;
}

/* Hourly Weather View */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.199);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}


.weather-snip-layout {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.weather-snip-div {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.time-snip {
    white-space: nowrap;
    font-size: xx-large;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    color: white;
}

.weather-icon-snip {
    margin-top: 0px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.temperature-snip {
    margin-top: 15px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: white;
}

/* More Detail View */
.main-div {
    width: 100%;
    margin: auto;
}

.subRow {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 100%;
}

.detail-snip-layout {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.detail-name, .detail-value {
    margin: 0;
    color: white;
    width: 100%;
    text-align: center;
}

.detail-name {
    font-weight: lighter;
    font-size: 200%;
}